{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'savelist.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Menu</title>
</head>
<body>
    <div class="main-container">
        <nav>
            <div class="content">
                <h2>LOGO</h2>
                <div class="links">
                    <a href="{% url 'home' %}">Home</a>
                    {% if Li %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                    {% else %}
                    <a href="{% url 'logout' %}">Logout</a>
                    
                    {% endif %}
                    <a href="{% url 'savelist' %}">Savelist</a>
                </div>
                <i class="material-icons" onclick=menu()>menu</i>
            </div>
            <div class="dropdown">
                <a href="{% url 'home' %}">Home</a>
                {% if Li %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
                {% else %}
                <a href="{% url 'logout' %}">Logout</a>
                
                {% endif %}
                <a href="{% url 'savelist' %}">Savelist</a>
            </div>
        </nav>
        <div class="content2">
            <div class="sub-content2">
                {% for i in s %}
                <div class="sub-sub-container2">
                    <h4>{{i.name}}</h4>
                    <h4>{{i.formation.name}}</h4>
                    <a href="{% url 'savelist_display' i.name %}"><i class="fa fa-angle-double-right" style="font-size:36px;color:white;"></i></a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    
</body>
</html>

<script>
    var dropdown = document.querySelector("nav .dropdown");
    var button = document.querySelector("nav .menu");

    function menu()
    {
        if (dropdown.style.display === "grid") 
            {
                dropdown.style.display = "none";
            } 
        else 
            {
                dropdown.style.display = "grid";
            }
    }


</script>